@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

/* PAGE VARIABLES */
:root {
    --fs: 18px;
    --ff-primary: 'Open Sans', sans-serif;
    --ff-secondary: 'Poppins', sans-serif;
    --clr-pink: hsl(322, 100%, 66%);
    --clr-paleCyan: hsl(193, 100%, 96%);
    --clr-darkCyan: hsl(192, 100%, 9%);
    --clr-grayishBlue: hsl(208, 11%, 55%);
    --clr-paleCyanTransparent: hsl(193, 100%, 96%, 0.8);
}

/* GENERAL STYLES */

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: var(--fs);
    font-family: var(--ff-primary);
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1440px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

h1,
h2 {
    font-family: var(--ff-secondary);
}


/* HEADER */

header {
    background-image: url('images/bg-hero-mobile.svg');
    background-color: var(--clr-paleCyan);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2em;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    margin-bottom: 5em;
}

.logo {
    width: 150px;
}

.btn {
    background-color: white;
    box-shadow: 0 3px 10px hsla(0, 0%, 0%, .2);
    padding: .5em 1.5em;
    border-radius: 50px;
    font-weight: 700;
    color: var(--clr-darkCyan);
    display: inline-block;
}

.hero__content {
    text-align: center;
}

.hero__content h1 {
    margin-bottom: 1em;
}

.hero__content .btn {
    margin: 2em 0;
}

.accent {
    background-color: var(--clr-pink);
    color: white;
    padding: 1em 4em;
}

.hero__img {
    margin: 2em 0;
}

/* CONTENT */
section {
    margin-bottom: 20em;
}

article {
    box-shadow: 0 0px 10px hsla(0, 0%, 0%, .1);
    border-radius: 25px;
    margin: 2.5em 0;
    padding: 2.5em;
}

article img {
    margin: 1em 0 2em;
}

.article__text {
    text-align: center;
}

article h2 {
    margin-bottom: .85em;
}



.container-cta {
    width: 90%;
    position: relative;
    margin: 0 auto;
}
.cta {
    background-color: white;
    position: absolute;
    top: -270px;
}



/* FOOTER */

footer {
    background-color: hsl(192, 100%, 9%);
    padding-top: 13em;
    padding-bottom: 3em;
    color: white;
}

footer a {
    color: white;
}

.footer__text {
    font-size: 1.2em;
    margin-bottom: 2em;
}

.footer__logo {
    width: 90%;
    margin-bottom: 2em;
}

.location,
.tel,
.email {
    display:flex;
    padding-bottom: 1.5em;
}

.location span,
.tel span,
.email span {
    margin-right: 1.6em;
}

.footer__nav {
    font-size: 1.6em;
    line-height: 2.5em;
}

.footer__nav ul {
    list-style: none;
}


.footer__social {
    margin: 4em 0 2em;
}

.footer__social ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.footer__social ul li {
    margin: 0 .85em;
}

.footer__social ul li a {
    display: inline-block;
    font-size: 1.7em ;
    border: 2px solid white;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}



.footer__copyright {
    text-align: center;
}

.footer__attribution {
    margin-top: 2em;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a {
    /* color: hsl(228, 45%, 44%);  */
    color: var(--clr-paleCyan);
}


/* MEDIA QUERIES */

@media (max-width:350px) {
    .top-section {
        flex-direction: column;
        justify-content: center;
    }

    header .logo {
        margin-bottom: 1.5em;
    }
}

@media (min-width:450px) {
    .cta {
        top: -200px;
    }
}

@media (min-width: 750px) {
    .logo {
        width: 195px;
    }
    .btn {
        padding: .5em 2.5em;
    }
    .top-section {
        margin-bottom: 10em;
    }

    h1 {
        font-size: 2.75em;
    }

    .hero__content p {
        font-size: 1.75em;
    }

    .accent {
        padding: 1em 5.5em;
        font-size: 1.35rem;
    }

    .main {
        margin-top: 6em;
    }

    article {
        margin-top: 4em;
    }

    .article__text h2 {
        font-size: 2.5rem;
        margin-top: 1.75em;
    }

    .article__text p {
        font-size: 1.75rem;
        color: var(--clr-grayishBlue);
    }

    section {
        margin-bottom: 23em;
    }

    .container-cta {
        width: 90%;
        position: relative;
    }

    .cta {
        top: -230px;
        left: 10%;
    }

    .cta h1 {
        font-size: 1.75rem;
        margin-bottom: 1.5em;
    }

    .footer__logo {
        width: 350px;
    }

    .footer__text {
        font-size: 1.75rem;
    }

}

@media (min-width:1000px) {
    .cta {
        left: 20%;
    }
}

@media (min-width:1200px) {

    .container {
        width: 90%;
    }

    .btn {
        font-size: .85em;
        padding: .75em 3.75em;
    }

    .top-section {
        margin-bottom: 3em;
        padding-top: 2.75em;
    }

    .hero-section {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-gap: 2.5em; 
        margin-bottom: 9em; 
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero__content h1 {
        font-size: 2.5rem;
        text-align: left;
        margin-bottom: .75em;
    }

    .hero__content p {
        font-size: 1em;
        text-align: left;
    }

    .accent {
        padding: 1.5em 1em;
        font-size: .85rem;
        width: 60%;
    }


    section {
        margin-bottom: 17em;
    }

    article {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 2em;

    }

    article.inverse {
        flex-direction: row;
    }

    article.inverse div.article__text {
        margin-left: 8em;
    }

    article.inverse div.article__text p{
        width: 100%;
    }

    .article__text {
        text-align: left;
    }

    .article__text h2 {
        font-size: 1.75rem;
    }

    .article__text p {
        font-size: 1.125rem;
        width: 70%;
    }


    article.cta {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cta {
        left: 25%;
    }

    article.cta a.btn.accent {
        width: 100%;
        font-size: 1.125rem;
        text-align: center;
    }

    
    footer a, footer{
        color: var(--clr-paleCyanTransparent);
    }
    .footer__details {
        display: flex;
        justify-content: space-between;
        font-weight: 300;
        align-items: center;
        color: var(--clr-paleCyanTransparent);
    }

    .footer__logo {
        width: 230px;
    }

    .footer__text {
        font-size: 1rem;
        width: 30%;
    }


    .footer__nav {
        font-size: 1.25rem;
    }

    .footer__social {
        margin: 0;
    }

    .footer__social ul li a {
        font-size: .85em ;
        border: 1px solid white;
        /* border-radius: 50px; */
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
    }

    .footer__copyright {
        text-align: right;
        font-size: .75rem;
    }
    
}


@media (min-width:1400px) {
    .cta {
        left: 30%;
    }
}